{
  "presets": ["es2015-node5"],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    "transform-async-to-generator",
    "syntax-async-functions"
  ]
}
